numpy>=1.20.0
opencv-python>=4.5.0
torch>=1.9.0
torchvision
supervision>=0.23.0
supervision[assets]
ultralytics>=8.3.78
roboflow==1.1.54
gdown
inference-gpu
more-itertools>=9.0.0
plotly
ipywidgets
sahi
jupyter_bbox_widget
tikzplotlib
jpeg4py
lmdb
scipy
loguru
strongsort
boxmot>=10.0.0
qwen-vl-utils[decord]
accelerate>=0.26.0
onnxruntime-gpu==1.18.0 --index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
git+https://github.com/roboflow/sports.git
transformers>=4.30.0
umap-learn>=0.5.3
scikit-learn>=1.0.0
tqdm>=4.65.0
Pillow>=9.0.0
paddleocr
paddlepaddle-gpu
paddlepaddle
paddleocr
torchreid
loguru
Pillow
groq
fastapi
uvicorn[standard]
python-multipart
